@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,900&display=swap");
/*OTHERS*/
$principal-font: "Montserrat", sans-serif;
$secundary-font: "Raleway", sans-serif;
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
/*OTHERS*/

/*COLORS*/
$cyan: #049aef;
$light: #ffffff;
$color-fondo: #f3f5f7;
$color-muted: #707070;
$color-blanco-secundario: #f3f5f7;
$color-gris-oscuro: #2b2b2b;
$color-btn: #000;
$clr-red: #f9283b;
$color-btn-claro-secundario: #dfdfdf;
/*COLORS*/

/* MEDIA QUERIES */
$phoneSM: 360px;
$phone: 480px;
$tablet: 768px;
$dekstopSM: 840px;
$dekstop: 992px;
$dekstopXL: 1200px;
/* MEDIA QUERIES */
